.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    color: #6b6b6f;
    padding: 10px 20px;
    margin: 15px;
    border-radius: 10px;
}

.item p{
    flex-basis: 0;
    flex-grow: 1.5;
}

/* .item span{
    display: inline-block;
    font-size: 1.3rem;
    text-align: center;
    margin-right: 10px;
    background-color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
} */

.item button{
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s all ease-in-out ;
}

.item button:hover{
    /* font-size: 1.5rem; */
    box-shadow: #0c2ad487 0px 2px 15px 0px;

}