
.container{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(63, 62, 62);
    padding: 20px;
    border-radius: 5px;
}

.searchContainer{
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.toolsContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.toolsContainer button{
    height: 26px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #008CBA;
    color: #fff;
}

.searchContainer input{
    
    height: 26px;
    border: 2px solid;
    border-radius: 5px;
    color: #008CBA;
    padding: 5px;
    background-color: #e0e0e0;

}


.searchContainer input:focus{
    outline: none;
}

.searchContainer p{
    color: #008CBA;
}


.deleteallBtn{
    width: 35px;
    height: 30px;
    cursor: pointer;
}

