.container{
    width: 100%;
    margin-top:30px ;

}

.container h3{
    color: #304ffe;
    font-size: 1.5rem;
}

.contacts{
    width: 100%;
    border: 2px solid #f5f5f5;
    list-style: none;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    height: 460px;
    /* scrollbar-width: thin;
    scrollbar-color: #242424 #FFFFFF ; */
    overflow-y: scroll;
}

.contacts::-webkit-scrollbar {
  width: 3px;
}

.message{
    background-color: #f5f5f5;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
    color: #6b6b6f;
    font-size: 1.2rem;
    font-weight: 500;
}


.NotFoundMessage{
    text-align: center;
    padding: 10px;
}

