
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(63, 62, 62);
    padding: 20px;
    border-radius: 5px;
}

.searchContainer{
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.toolsContainer{
    display: flex;
    gap: 20px;
}

.toolsContainer button{
    height: 26px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #304ffe;
    color: #fff;
}

.searchContainer input{
    height: 26px;
    border: 2px solid #eaeaea;
    border-radius: 5px;
    color: #304ffe;
    outline: none;
}

.searchContainer p{
    color: #fe8230;
}