
.modalBox{
    margin: 0 auto;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    /* justify-content: center; */
}

.modalContent{
    margin: 150px auto;
    width: 500px;
    height: 150px;
    /* background-color: #75dcdc; */
    background-color: #e0e0e0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #242424;
    border-radius: 20px;
    padding: 15px;
}

.modalInfo{
    /* background-color: #fefefe; */
    margin: 0 auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modalBtn{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.modalBtn button{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
.delBtn{
    background-color: #F44336;

}

.noBtn{
    background-color: #75dcdc;

}