.toast{
    width: 250px;
    height: 50px;
    position: fixed;
    left: calc(100% - 280px);
    top: 30px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #E0E0E0;
}

.addToast{
    background-color: #4CAF50;
}

.deleteToast{
    background-color: #F44336;
}

.closeBtn{
    position: absolute;
    top: 0;
    right: 7px;
}

.show{
    display: flex;
    animation: fadeIn 0.5s , fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadeOut {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}