:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: auto;
  max-width: 1000px;
  min-height: 100vh;
  padding: 10px;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




